html {
  scroll-behavior: smooth
}
body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  position: relative;
  width: 100%;
  min-height: 100vh
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline
}
:focus {
  outline: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block
}
ol,
ul {
  list-style: none
}
blockquote,
q {
  quotes: none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
td:empty,
th:empty {
  opacity: 0
}
input,
input:required {
  -webkit-box-shadow: none;
  box-shadow: none
}
input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 30px #fff inset
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none
}
input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical
}
audio,
canvas,
video {
  display: inline-block;
  max-width: 100%
}
audio:not([controls]) {
  display: none;
  height: 0
}
[hidden] {
  display: none
}
a:active,
a:hover {
  outline: 0
}
img {
  border: 0;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: auto
}
picture {
  display: inline-block
}
figure {
  margin: 0
}
button,
input {
  line-height: normal
}
button,
select {
  text-transform: none
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  border: 0;
  background: 0 0
}
button::-moz-focus-inner {
  border: 0
}
button[disabled],
html input[disabled] {
  cursor: default
}
input[type=checkbox],
input[type=radio] {
  padding: 0
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0
}
button {
  border: 0;
  background: 0 0
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  overflow: visible;
  background: #000;
  border: 0;
  height: 1px;
  line-height: 0;
  margin: 0;
  padding: 0;
  page-break-after: always;
  width: 100%
}
pre {
  font-family: monospace,monospace;
  font-size: 100%
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: none
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 100%
}
small {
  font-size: 75%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -5px
}
sup {
  top: -5px
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
  outline: 0
}
legend {
  color: inherit;
  white-space: normal;
  display: block;
  border: 0;
  max-width: 100%;
  width: 100%
}
fieldset {
  min-width: 0
}
body:not(:-moz-handler-blocked) fieldset {
  display: block
}
progress {
  vertical-align: baseline
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
summary {
  display: list-item
}
template {
  display: none
}
body {
  background: -webkit-gradient(linear,left top,left bottom,from(#85ccb4),to(#47b3aa));
  background: -o-linear-gradient(#85ccb4,#47b3aa);
  background: linear-gradient(#85ccb4,#47b3aa)
}
.container {
  max-width: 1024px;
  margin: 0 auto
}
.app {
  padding: 50px 0
}
.header {
  background-color: #a3d9c7;
  border: #60bfb7 solid 1px;
  color: #e6f3ef;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 25px;
  -webkit-box-shadow: 0 10px 50px rgba(128,128,128,.5);
  box-shadow: 0 10px 50px rgba(128,128,128,.5)
}
.header__title {
  text-shadow: 0 2.5px 5px rgba(128,128,128,.5);
  font-family: "M PLUS 1p",sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.add-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
  height: auto;
  width: 25%;
  background-color: #a3d9c7;
  border: #60bfb7 solid 1px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: 0 10px 50px rgba(128,128,128,.5);
  box-shadow: 0 10px 50px rgba(128,128,128,.5)
}
.add-form__input {
  color: gray;
  background-color: #fff;
  height: 40px;
  font-family: "M PLUS 1p",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1
}
.add-form button {
  width: 100%
}
.content {
  width: 75%;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 50px rgba(128,128,128,.5);
  box-shadow: 0 10px 50px rgba(128,128,128,.5)
}
.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  padding: 10px;
  background-color: #a3d9c7;
  border: #60bfb7 solid 1px;
  font-family: "M PLUS 1p",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5
}
.filters__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: 700;
  color: #e6f3ef;
  white-space: nowrap;
  text-shadow: 0 2.5px 5px rgba(128,128,128,.5)
}
.filters__input {
  height: 40px;
  color: gray
}
.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  font-family: "M PLUS 1p",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5
}
.list__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px;
  width: 20%;
  text-align: center;
  word-break: break-word;
  border: #60bfb7 solid 1px
}
.list__button {
  width: 20%;
  background-color: #fff
}
.list li:nth-of-type(even) {
  background-color: #e6f3ef
}
/*# sourceMappingURL=main.css.map */
