@import "../node_modules/scss-reset/src/scss/_reset.scss";

@mixin fonts($size, $weight, $height) {
	font-family: "M PLUS 1p", sans-serif;
	font-size: $size;
	font-weight: $weight;
	line-height: $height;
}

body {
	background: linear-gradient(#85ccb4, #47b3aa);
}

.container {
	max-width: 1024px;
	margin: 0 auto;
}

.app {
	padding: 50px 0;
}

.header {
	background-color: #a3d9c7;
	border: #60bfb7 solid 1px;
	color: #e6f3ef;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 25px;
	box-shadow: 0 10px 50px rgba(gray, 0.5);

	&__title {
		text-shadow: 0 2.5px 5px rgba(gray, 0.5);

		@include fonts(50px, bold, 1);
	}
}

.main {
	display: flex;
}

.add-form {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 10px;
	height: auto;
	width: 25%;
	background-color: #a3d9c7;
	border: #60bfb7 solid 1px;
	border-bottom-left-radius: 10px;
	box-shadow: 0 10px 50px rgba(gray, 0.5);

	&__input {
		color: gray;
		background-color: white;
		height: 40px;

		@include fonts(16px, normal, 1);
	}

	button {
		width: 100%;
	}
}

.content {
	width: 75%;
	background-color: white;
	box-shadow: 0 10px 50px rgba(gray, 0.5);
}

.filters {
	display: flex;
	align-items: center;
	column-gap: 10px;
	padding: 10px;
	background-color: #a3d9c7;
	border: #60bfb7 solid 1px;

	&__radio {
		display: flex;
		flex-direction: column;
		font-weight: bold;
		color: #e6f3ef;
		white-space: nowrap;
		text-shadow: 0 2.5px 5px rgba(gray, 0.5);
	}

	&__input {
		height: 40px;
		color: gray;
	}

	@include fonts(16px, normal, 1.5);
}

.list {
	&__item {
		display: flex;
		min-height: 40px;

		@include fonts(16px, normal, 1.5);
	}

	&__field {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px;
		width: 20%;
		text-align: center;
		word-break: break-word;
		border: #60bfb7 solid 1px;
	}

	&__button {
		width: 20%;
		background-color: white;
	}

	li:nth-of-type(even) {
		background-color: #e6f3ef;
	}
}
